/* Используемые шрифты  */
/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

/* Используемые цвета */
/* color: #2196F3; */
/* color: #212121; */
/* color: #757575; */
/* color: rgba(255, 255, 255, 0.6); */
/* background-color:  #2f303a */
/* #eeeeee */
/* #ececec */
/* rgba(47, 48, 58, 0.4); */
/* #AFB1B8 */
/* rgba(255, 255, 255, 0.1); */

:root {
  --main-dark-color: #212121;
  --second-dark-color: #757575;
  --accent-color: #2196f3;
  --contacts-color-footer: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --hero-background-color: #2f303a;
  --white-color: #ffffff;
  --background-team-section: #f5f4fa;
  --container-border: #eeeeee;
  --header-border: #ececec;
  --overlay-color: rgba(47, 48, 58, 0.4);
  --fill-logo: #afb1b8;
  --social-footer-bg: rgba(255, 255, 255, 0.1);
}

/* font-weight:400=normal=regular */
body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  color: var(--main-dark-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: var(--main-dark-color);
  font-weight: 500;
}

a:hover:not(.logo):not(.project-link),
a:focus:not(.logo):not(.project-link) {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .logo {
  margin-bottom: 20px;
  color: var(--white-color);
}

/* Основной контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.flex-cont {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

/* для удобства наведения курсора */
.nav-list .item a {
  padding-top: 33px;
  padding-bottom: 33px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
  position: relative;
}

/* .current:hover .current::after {
  transform: scaleX(1);
} */

.current::after {
  content: "";

  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
  /* transform: scaleX(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.nav-list .item + .item {
  margin-left: 50px;
}

.contacts-list .contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-dark-color);
  padding-top: 33px;
  padding-bottom: 33px;

  fill: var(--second-dark-color);

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-list .item svg {
  margin-right: 10px;
}

.contacts-list .contacts-link:hover svg,
.contacts-list .contacts-link:focus svg {
  fill: var(--accent-color);
}

.contacts-list .item + .item {
  margin-left: 50px;
}

h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  margin-top: 0;
  margin-bottom: 30px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

/* Герой баннер */
.hero-banner {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  height: 600px;
  max-width: 1600px;
  background-color: var(--hero-background-color);

  margin-left: auto;
  margin-right: auto;
}

.overlay {
  background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
    url(../img/hero-banner.jpg);
}

.div-hero-txt {
  width: 696px;
}

.hero-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);

  padding: 10px 32px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  opacity: 1;
}

/* Модально окно  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  padding: 40px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-icon {
  fill: #000;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
  fill: var(--accent-color);
}

.modal-close-button:hover,
.modal-close-button:focus {
  transform: scale(1.2);
}

/* форма внутри модального окна */
.form h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-dark-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--second-dark-color);

  margin-bottom: 10px;
}

.label-textarea {
  margin-bottom: 20px;
}

.form-input,
.form-textarea {
  display: block;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  outline: none;
}

.form-textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.form-input {
  padding-left: 40px;
}

.form-label:focus-within .input-wrapper .modal-icon {
  fill: var(--accent-color);
}

.form-label:focus-within .form-input,
.form-label:focus-within .form-textarea {
  border-color: var(--accent-color);
}

.agreement {
  display: inline-block;
  justify-content: center;
  line-height: 1.71;
  color: var(--second-dark-color);
}

.agreement a {
  display: inline;
  text-decoration: underline;
  color: var(--accent-color);
  line-height: 1.71;
}

.checkbox {
  position: relative;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  padding-left: 36px;
}

.agreement::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;

  background-image: url(../img/svg/check-border.svg);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox input:focus + .agreement::before {
  background-image: url(../img/svg/check-border-acc.svg);
}

.checkbox input:checked + .agreement::before {
  background-image: url(../img/svg/icon-check.svg);
}

/* скрытие дефолтного чекбокса */
.modal-checkbox-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 55px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  opacity: 1;
}

.input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* //Модально окно  */

/* Секция преимущества */
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list .item {
  max-width: 270px;
}

.feature-list h3 {
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
  color: var(--main-dark-color);
}

.feature-list p {
  margin: 0;
  line-height: 1.71;
  color: var(--second-dark-color);
}

.bg-feature-icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-team-section);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-feature {
  width: 70px;
  height: 70px;
}

/* Чем мы занимаемся  */
.business {
  padding-bottom: 94px;
}

.business-list {
  display: flex;
  justify-content: space-between;
}

.business-list .item {
  width: 370px;
}

.business-list h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);

  margin-top: 0;
  margin-bottom: 0;
}

.business-thumb {
  position: relative;
}

.overlay-business {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-team-section);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list .item {
  width: 270px;
  background: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* в макте нет перехода по тени
  карточки сразу имеют тени

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .team-list .item:hover,
.team-list .item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */

.member-description {
  padding: 30px;
}

.team-list h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;
}

.team-list p {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: var(--second-dark-color);

  margin-top: 0;
  margin-bottom: 16px;
}

.member-socialnet-list {
  display: flex;
  justify-content: center;
}

.member-socialnet-list li {
  width: 44px;
  height: 44px;
}

.member-sn-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: var(--fill-logo);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.member-socialnet-list li + li {
  margin-left: 10px;
}

.team .socialnet-icon {
  width: 20px;
  height: 20px;
}

.member-sn-link:hover,
.member-sn-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/* перенёс в .member-sn-link:hover для синхронности */
/* .member-sn-link:hover .socialnet-icon,
.member-sn-link:focus .socialnet-icon {
  fill: var(--white-color);
} */

/* Галерея работ */
.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.gallery-list .item + .item {
  margin-left: 8px;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;

  border-style: none;
  border-radius: 4px;

  padding: 6px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* карточки  */
.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list .item {
  max-width: 370px;
  width: calc((100%-60px) / 3);
  border: 1px solid var(--container-border);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-list .project-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list .item .project-link:hover,
.project-list .item .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list .item:nth-child(3n) {
  margin-right: 0;
}

.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-description {
  padding: 20px 24px;
}

.project-list .item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project-list .item p {
  font-size: 16px;
  line-height: 1.875;
  color: var(--second-dark-color);
  margin: 0;
}

.project-list .project-overlay p {
  font-size: 18px;
  line-height: 1.556;
  color: var(--white-color);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(-100%);
}

/* Постоянные клиенты */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
}

.customers li {
  width: 170px;
  height: 90px;
}

.customers-list li + li {
  margin-left: 30px;
}

.customer-logo-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--fill-logo);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--fill-logo);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo-link:hover,
.customer-logo-link:focus {
  border-color: var(--accent-color);
}

.customer-logo-link:hover .customer-logo,
.customer-logo-link:focus .customer-logo {
  fill: var(--accent-color);
}

.customers-list .logo1 {
  width: 45px;
  height: 50px;
}

.customers-list .logo2 {
  width: 40px;
  height: 52px;
}

.customers-list .logo3 {
  width: 41px;
  height: 43px;
}

.customers-list .logo4 {
  width: 80px;
  height: 43px;
}

.customers-list .logo5 {
  width: 59px;
  height: 47px;
}

.customers-list .logo6 {
  width: 89px;
  height: 46px;
}

address {
  /* убирает курсив адреса */
  font-style: normal;

  line-height: 1.71;
  color: var(--white-color);
}

/* футер, он же подвал */
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .left-side {
  margin-right: 70px;
}

.right-side {
  display: flex;
}

.footer-block-socialnet {
  margin-right: 93px;
}

.footer .right-side h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);

  margin-top: 0;
  margin-bottom: 20px;
}

.footer-socialnet-list {
  display: flex;
}

.footer-socialnet-list li {
  width: 44px;
  height: 44px;
}

.footer-socialnet-list li + li {
  margin-left: 10px;
}

.footer-socialnet-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--social-footer-bg);

  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--white-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socialnet-link:hover,
.footer-socialnet-link:focus {
  background-color: var(--accent-color);
}

.footer-socialnet-list .socialnet-icon {
  width: 20px;
  height: 20px;
}

.footer address {
  margin-bottom: 9px;
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  line-height: 1.714;
  color: var(--contacts-color-footer);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer-label {
  display: inline-block;
  margin-right: 12px;
}

.form-footer-input {
  padding: 0;
  outline-style: none;
  color: var(--white-color);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer-input:focus {
  border-color: var(--accent-color);
}

.footer-submit-button {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 10px 62px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline-style: none;
  border-style: none;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-button:hover,
.footer-submit-button:focus {
  opacity: 1;
}

.footer-submit-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/icon-send.svg");
  margin-left: 10px;
}

/* the end */
